In [5]:
import pandas as pd

df = pd.read_csv("historique.csv", sep=";")

#df["date"]
df["date"] = df["date"].astype('datetime64[ns]')
df.sort_values(by='date', ignore_index=True)
df

  mois_annee       date heure_arrive heure_depart nb_heures  cout_indemnite
0    2023-01 2023-01-02        08:30        16:15   7:45:00            3.11
1    2023-01 2023-01-03        10:45        18:30   7:45:00            3.11